

@font-face {
    font-family: 'ClearSans';
    src: url('../../assets/fonts/ClearSans-Regular.woff2'),
        url('../../assets/fonts/ClearSans-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ClearSans';
    src: url('../../assets/fonts/ClearSans-Medium.woff2'),
        url('../../assets/fonts/ClearSans-Medium.woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ClearSans';
    src: url('../../assets/fonts/ClearSans-Bold.woff2'),
        url('../../assets/fonts/ClearSans-Bold.woff');
    font-weight: 700;
    font-style: normal;
}

