



/* Number Colors */
$Color-2: #ede4da;
$Color-4: #eee0c8;
$Color-8: #f2b178;
$Color-16: #f59562;
$Color-32: #f67d5f;
$Color-64: #f65e3a;
$Color-128: #edcf71;
$Color-256: #eecc61;
$Color-512: #e9c950;
$Color-1024: #ecc53d;
$Color-2048: #efc32d;
$Color-Plus2048: #3d3a32;